{% load static %}
<form method=post action="">{% csrf_token %}

<html>  
	<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/CORAM.css' %}"/>
	<title>Transfer models</title>
	</head>

   
<body>
<div class="container">
	<div class="row">
		<div class="col-md-2 col-xs-2">
		<H2> DIOXINS </H2>
		</div>

		<div class="col-md-2 col-xs-2 text-center">
		<a href="{% url 'total_teq' %}"> 
		<img class="img-circle img-responsive img-center" src=  "{% static "img/1-1203254406i5t0.jpg" %}" alt="responsive image" style="border:1px solid black">
		<p>Dioxin Transfer to Egg Calculator
		</p>
		</a>
		</div>

		<div class="col-md-2 col-xs-2 text-center">
		<a href="{% url 'tteq_milk' %}"> 
		<img class="img-circle img-responsive img-center" src=  "{% static "img/milk1.jpg" %}" alt="" style="border:1px solid black">
		<p>Dioxin Transfer to Milk Calculator
		</p>
		</a>
		</div>
	</div>
</div>
</body>
</html>