{% load static %}
<form method=post action="">{% csrf_token %}

<html>  
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">	
		<link rel="stylesheet" type="text/css" href="{% static 'css/CORAM.css' %}"/>
		<title>Dioxin eggs</title>
	</head>

   
	<body>

		<h1>Dioxin Transfer from feed to egg Yolk fat Calculator</h1>
<div class="row">
<div class="col-sm-5" style="background-color:#F5F7FA;">
<h2><p>Predicted dioxin concentrations in egg yolk:</p></h2>

<div>
{% if result != None %}
<img src="{% get_static_prefix %}{{ result }}" width=550 hight=550>
{% endif %}
</div>

<H3>Options:</h3>

<a href="{% url 'congener_specific' %}" class="btn btn-default" role="button">Reset</a>
<a href="{% url 'index' %}" class="btn btn-default" role="button">Total teq model</a>

</div>

<div class="col-sm-5" style="background-color:#E6E9ED;">
<h2>Congener specific contamination feed (ng teq/kg feed):</h2>
<table>
  {% for field in form %}
    <tr>
    <td>{{ field.name }}</td>
    <td>{{ field }}</td>
    <td>{{ field.label }}</td>
    <td>{{ field.errors }}</td>
    <td></td>
    </tr>
  {% endfor %}
</table>
<p><input type=submit value=Compute></form></p>

</div>


</body>
</html>