<form method=post action="">{% csrf_token %}
 <head>
        <title>Dioxin eggs</title>
<body>
<font face="calibri", font size = "4">
	<p>Dioxin Transfer from feed to egg Yolk fat Calculator</p>
<table>
  {% for field in form %}
    <tr>
    <td>{{ field.name }}</td>
    <td>{{ field }}</td>
    <td>{{ field.label }}</td>
    <td>{{ field.errors }}</td>
    <td></td>
    </tr>
  {% endfor %}
</table>
</font>
<p><input type=submit value=Compute></form></p>

<p>
{% if result != None %}
{% load static %}
<img src="{% get_static_prefix %}{{ result }}" width=500>
{% endif %}
</p>
</body>