{% load static %}
<form method=post action="">{% csrf_token %}

<html>  
	<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/CORAM.css' %}"/>
	<title>Transfer Models</title>
	</head>

   
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-11 col-lg-12" style="background-color:#5492CF";>
		<h1>Dioxin Transfer from feed to Milk fat Calculator</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-lg-5" style="background-color:#E6E6E6;">
		<h2><p>Predicted dioxin concentration milk fat:</p></h2>
			<div class="image-container">
			{% if result != None %}
			<img src="{% get_static_prefix %}{{ result }}">
			{% endif %}
			</div>
		</div>

		<div class="col-xs-5 col-lg-5" style="background-color:#A6A6A6;">
		<h2>Input values*:</h2>
		<h3>*Feed contamination expressed as ng TEQ/kg feed</h3>
		<table>
 		{% for field in form %}
    		<tr>
    		<td>{{ field.label }}</td>
		<td>{{ field }}</td>
    		<td>{{ field.errors }}</td>
    		<td></td>
    		</tr>
  		{% endfor %}
		</table>
		<p><input type=submit value=Compute></form></p>
		</div>


<div class="row">
	<div class="col-sm-6 col-lg-2 text-center">
	<img class="img-circle img-responsive img-center" src=  "{% static "img/milk1.jpg" %}" alt="" style="border:1px solid black">
	<h3>Dioxin to Milk </h3>
	</div>
	</div>
	</div>



	<div class="row">
	<div class="col-xs-6 col-lg-12" style="background-color:#5492CF;">
	<br/>
		<a href="{% url 'index' %}" class="btn btn-default" role="button">Home</a>
		<a href="{% url 'tteq_milk' %}" class="btn btn-default" role="button">Reset</a>
	</div>
	</div>

</div>
</body>
</html>